<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    <ion-title>registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <input type="text" placeholder="Username" name="uname" required><br>
  <input type="text" placeholder="First name" name="uname" required><br>
  <input type="text" placeholder="Last name" name="uname" required><br>
  <input type="text" placeholder="Create a Password" name="uname" required><br>

  <ion-button (click)="navToStart()">Sign Up</ion-button>
</ion-content>
